In [1]:
# 인기 검색 종목 10개
# 순위 종목코드 종목명 현재가

# header 옵션

In [34]:
import requests
import json

header= {'user-agent':'Mozila/5.0','referer':'https://finance.daum.net/'}
response = requests.get('https://finance.daum.net/api/search/ranks?limit=10', headers=header)

data = json.loads(response.text)
data['data']

[{'rank': 1,
  'rankChange': 2,
  'symbolCode': 'A035720',
  'code': 'KR7035720002',
  'name': '카카오',
  'tradePrice': 55800,
  'change': 'FALL',
  'changePrice': 700,
  'changeRate': 0.0123893805,
  'chartSlideImage': None,
  'isNew': False},
 {'rank': 2,
  'rankChange': -1,
  'symbolCode': 'A004690',
  'code': 'KR7004690004',
  'name': '삼천리',
  'tradePrice': 124500,
  'change': 'FALL',
  'changePrice': 46500,
  'changeRate': 0.2719298246,
  'chartSlideImage': None,
  'isNew': False},
 {'rank': 3,
  'rankChange': -1,
  'symbolCode': 'A086520',
  'code': 'KR7086520004',
  'name': '에코프로',
  'tradePrice': 709000,
  'change': 'RISE',
  'changePrice': 110000,
  'changeRate': 0.183639399,
  'chartSlideImage': None,
  'isNew': False},
 {'rank': 4,
  'rankChange': 0,
  'symbolCode': 'A005930',
  'code': 'KR7005930003',
  'name': '삼성전자',
  'tradePrice': 64600,
  'change': 'RISE',
  'changePrice': 500,
  'changeRate': 0.007800312,
  'chartSlideImage': None,
  'isNew': False},
 {'rank': 5,
  'rankChange': 0,
  'symbolCode': 'A068270',
  'code': 'KR7068270008',
  'name': '셀트리온',
  'tradePrice': 163200,
  'change': 'FALL',
  'changePrice': 2300,
  'changeRate': 0.013897281,
  'chartSlideImage': None,
  'isNew': True},
 {'rank': 6,
  'rankChange': 0,
  'symbolCode': 'A093230',
  'code': 'KR7093230001',
  'name': '이아이디',
  'tradePrice': 3035,
  'change': 'RISE',
  'changePrice': 115,
  'changeRate': 0.0393835616,
  'chartSlideImage': None,
  'isNew': False},
 {'rank': 7,
  'rankChange': 0,
  'symbolCode': 'A009830',
  'code': 'KR7009830001',
  'name': '한화솔루션',
  'tradePrice': 51200,
  'change': 'FALL',
  'changePrice': 1900,
  'changeRate': 0.0357815443,
  'chartSlideImage': None,
  'isNew': True},
 {'rank': 8,
  'rankChange': -1,
  'symbolCode': 'A017390',
  'code': 'KR7017390006',
  'name': '서울가스',
  'tradePrice': 112700,
  'change': 'LOWER_LIMIT',
  'changePrice': 48300,
  'changeRate': 0.3,
  'chartSlideImage': None,
  'isNew': False},
 {'rank': 9,
  'rankChange': -1,
  'symbolCode': 'A247540',
  'code': 'KR7247540008',
  'name': '에코프로비엠',
  'tradePrice': 269500,
  'change': 'RISE',
  'changePrice': 27000,
  'changeRate': 0.1113402062,
  'chartSlideImage': None,
  'isNew': False},
 {'rank': 10,
  'rankChange': -5,
  'symbolCode': 'A024810',
  'code': 'KR7024810004',
  'name': '이화전기',
  'tradePrice': 1541,
  'change': 'RISE',
  'changePrice': 321,
  'changeRate': 0.2631147541,
  'chartSlideImage': None,
  'isNew': False}]

In [44]:
for ser in data['data']:
    ty=type(ser['changeRate'])
    ty*100
    print(ty)

TypeError: unsupported operand type(s) for *: 'type' and 'int'

In [42]:
test=0.12
type(test)

float

In [47]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.0.1-cp39-cp39-win_amd64.whl (10.7 MB)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.3-cp39-cp39-win_amd64.whl (14.9 MB)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aa866\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\aa866\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, numpy, tzdata, pandas
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\aa866\AppData\Local\Programs\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 20.2.3; however, version 23.1.1 is available.
You should consider upgrading via the 'c:\Users\aa866\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [48]:
import pandas as pd

In [52]:
# 순위 종목코드 종목명 현재가


df=pd.DataFrame(columns=['순위','코드','종목명','현재가'])
for ser in data['data']:
    rank=ser['rank']
    code=ser['code']
    name=ser['name']
    # chg_re=ser['changeRate']
    # if ser['change']== 'FALL':
    #     chg='-'+(float(chg_re)*100)+'%'
    # else:
    #     chg=(float(chg_re)*100)+'%'

    tradePrice=ser['tradePrice']

    print(rank,code,name,tradePrice)
    df.loc[len(df)]=([rank,code,name,tradePrice])
df

1 KR7035720002 카카오 55800
2 KR7004690004 삼천리 124500
3 KR7086520004 에코프로 709000
4 KR7005930003 삼성전자 64600
5 KR7068270008 셀트리온 163200
6 KR7093230001 이아이디 3035
7 KR7009830001 한화솔루션 51200
8 KR7017390006 서울가스 112700
9 KR7247540008 에코프로비엠 269500
10 KR7024810004 이화전기 1541

   순위            코드     종목명     현재가
0   1  KR7035720002     카카오   55800
1   2  KR7004690004     삼천리  124500
2   3  KR7086520004    에코프로  709000
3   4  KR7005930003    삼성전자   64600
4   5  KR7068270008    셀트리온  163200
5   6  KR7093230001    이아이디    3035
6   7  KR7009830001   한화솔루션   51200
7   8  KR7017390006    서울가스  112700
8   9  KR7247540008  에코프로비엠  269500
9  10  KR7024810004    이화전기    1541

In [2]:
%pip install PyQt5

Requirement already satisfied: PyQt5 in c:\users\aa866\appdata\local\programs\python\python39\lib\site-packages (5.15.9)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: PyQt5-Qt5>=5.15.2 in c:\users\aa866\appdata\local\programs\python\python39\lib\site-packages (from PyQt5) (5.15.2)
Requirement already satisfied: PyQt5-sip<13,>=12.11 in c:\users\aa866\appdata\local\programs\python\python39\lib\site-packages (from PyQt5) (12.12.1)

WARNING: You are using pip version 20.2.3; however, version 23.1.1 is available.
You should consider upgrading via the 'c:\Users\aa866\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.